<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CSharpEtl.Properties.Settings.ZDB_TELCOMConnectionString"
            connectionString="Data Source=DESKTOP-CSB19SO\NETMPKDBSERVER;Initial Catalog=ZDB_TELCOM;Persist Security Info=True;User ID=sa;Password=root"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>